@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none; }

p {
  margin: 0; }

ul {
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

.container-fluid {
  padding: 0; }

.logo {
  width: 6rem; }

/*------NAV------*/
header {
  position: sticky;
  top: 0;
  z-index: 100; }

.navbar {
  background-color: #006CFF; }

.bars__icon {
  color: #fff;
  font-size: 2rem; }

.nav__li {
  color: #8EBEFF;
  font-size: 1rem;
  margin: 1rem;
  text-decoration: none;
  text-align: center; }
  .nav__li:visited {
    color: #8EBEFF; }
  .nav__li:hover {
    color: #fff; }

.nav__logo {
  width: 70px;
  margin-right: 2rem;
  margin-left: 1rem; }

.contact__btn {
  background-color: #00E0B5;
  background-image: linear-gradient(45deg, #ff006c 25%, #042860 50%);
  background-size: 500%;
  background-position: right;
  color: #fff;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  text-decoration: none;
  padding: 0.5rem 1rem 0.5rem;
  margin: 1rem;
  transition: 1s background-position; }
  .contact__btn:hover {
    color: #fff;
    background-position: left; }

/*------NAV------*/
/*------MODAL------*/
input {
  padding: 0.5rem; }
  input:focus {
    border-bottom: none;
    outline: solid 1px #081B3E; }
  input:-webkit-autofill {
    box-shadow: 0 0 0 30px #fff inset !important; }
    input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
      box-shadow: 0 0 0 30px #fff inset !important; }

textarea {
  padding: 0.5rem; }

.modal-title {
  color: #081B3E;
  font-weight: 700;
  margin-right: 0.2rem; }

.form__exp-yes, .form__exp-no {
  display: inline-block;
  margin: 0.5rem; }
  .form__exp-yes b, .form__exp-no b {
    color: #081B3E;
    font-weight: 700;
    margin-right: 0.2rem; }

.form__name, .form__age, .form__genre, .form__email, .form__dc {
  margin-bottom: 1rem;
  width: 100%;
  border: none;
  border-bottom: solid 1px #081B3E; }

.form__text {
  width: 100%;
  resize: none;
  border: none;
  border-bottom: 1px solid #081B3E;
  margin-bottom: 1rem; }
  .form__text:focus {
    border-bottom: none;
    outline: solid 1px #081B3E; }

.form__btns {
  display: flex;
  justify-content: flex-end; }

.form__reset, .form__submit {
  padding: 0.1rem 1rem 0.1rem 1rem;
  border: none;
  border-radius: 50px;
  margin-top: 1rem;
  margin-left: 0.8rem;
  box-shadow: 0rem 0rem 0.5rem #042860;
  transition: 0.1s all;
  width: fit-content;
  font-size: 1.375rem; }

.form__reset {
  color: #081B3E;
  background: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  margin-right: 0.5rem;
  font-size: 1.2rem; }
  .form__reset:hover {
    border-bottom: 1px solid #081B3E; }

.form__submit {
  color: #fff;
  background: #081B3E; }
  .form__submit:hover {
    box-shadow: 0rem 0rem 1rem #042860;
    background: #00E0B5; }

/*------MODAL------*/
/*------FOOTER------*/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000; }
  .footer__title {
    color: #C4C4C4; }
  .footer__axie, .footer__web {
    display: flex;
    width: 800px;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0rem 1rem 0rem;
    border-bottom: solid 1px #C4C4C4;
    padding: 1rem 0rem 1rem 0rem; }
    .footer__axie div, .footer__web div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 10rem; }
  .footer__web {
    border-bottom: none; }
  .footer__axieList, .footer__webList {
    display: flex;
    margin: 1rem;
    list-style: none; }
    .footer__axieList li, .footer__webList li {
      margin: 0rem 1rem 0rem 1rem; }

.social__icon {
  color: #fff; }
  .social__icon:visited {
    color: #fff; }

.a:visited {
  color: #fff; }

.icon {
  font-size: 1.5rem;
  color: #fff; }

/*------FOOTER------*/
/*------HERO------*/
.hero__title {
  margin: 0.5rem;
  font-size: 5.125rem;
  line-height: 1;
  text-align: start; }

.hero__para {
  margin: 0.5rem;
  margin-top: 1rem;
  text-align: start;
  font-size: 1.3125rem;
  font-weight: 400; }

.hero__data {
  color: #fff;
  margin-top: auto;
  margin-bottom: auto; }

.hero__btn {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 50px;
  color: #042860;
  background: #00E0B5;
  margin-top: 1rem;
  margin-left: 0.8rem;
  box-shadow: 0rem 0rem 0.5rem #fff;
  transition: 0.1s all;
  width: fit-content;
  font-size: 22px; }
  .hero__btn:hover {
    box-shadow: 0rem 0rem 0.8rem #fff;
    color: #fff; }

.hero__container {
  display: inline-block;
  width: 100%;
  height: 85vh;
  background-color: #04266c;
  padding-top: 4rem; }

/*------HERO------*/
/*------GAME SECTION------*/
.gameSection {
  height: 60vh;
  margin-top: 3rem;
  margin-bottom: 3rem; }
  .gameSection__title {
    font-size: 3.25rem;
    font-weight: 700;
    margin-top: 2rem;
    color: #081B3E; }
  .gameSection__para {
    text-align: justify;
    font-size: 1.3125rem;
    margin-top: 1rem; }
  .gameSection__video {
    align-self: flex-end;
    margin: 8rem 0rem 3rem 1.5rem;
    box-shadow: 0rem 0rem 1rem #081B3E; }
  .gameSection__img {
    width: 100%;
    margin-top: 1rem; }

/*------GAME SECTION------*/
/*------AXIE SECTION------*/
.axieSection {
  height: 80vh;
  background-color: #042860;
  display: inline-block;
  width: 100%; }
  .axieSection__title {
    text-align: center;
    margin: 1rem;
    color: #fff;
    font-size: 3.25rem;
    font-weight: 700;
    margin-top: 3rem; }
  .axieSection__para {
    text-align: center;
    margin: 1rem;
    color: #fff;
    font-size: 1.1rem; }

.example__para {
  text-align: center;
  color: #fff;
  font-weight: 600;
  background-color: #006CFF;
  padding: 0.5rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%; }

.example__cont {
  flex: 0 1 auto;
  padding: 0;
  background-color: #fff;
  border-radius: 11px;
  margin: 1rem;
  font-size: 1.125rem;
  box-shadow: 0rem 0rem 0.8rem #042860;
  width: 300px; }
  .example__cont:hover {
    box-shadow: 0rem 0rem 1rem #C4C4C4; }

.example__img {
  width: 300px; }

.example__text {
  text-align: center; }

.btn__cont {
  border-radius: 50px;
  color: #042860;
  background: #00E0B5;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0rem 0rem 0.5rem #fff;
  transition: 0.1s all;
  width: fit-content; }
  .btn__cont a {
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1.375rem; }
  .btn__cont:hover {
    box-shadow: 0rem 0rem 0.8rem #fff;
    transition: 0.1s all; }
    .btn__cont:hover a {
      color: #fff; }

/*------AXIE SECTION------*/
/*------SERVICE SECTION------*/
.serviceSection__pvp {
  background-color: #fff;
  box-shadow: 0rem 0rem 0.5rem #8EBEFF;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem 1rem;
  height: 33vh; }

.serviceSection__econ {
  background-color: #fff;
  box-shadow: 0rem 0rem 0.5rem #8EBEFF;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem 1rem;
  height: 33vh; }

.serviceSection__becas {
  background-color: #fff;
  box-shadow: 0rem 0rem 0.5rem #8EBEFF;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem 1rem;
  height: 33vh; }

.serviceSection__title {
  color: #081B3E;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 1rem; }

.serviceSection__para {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  text-align: center; }

.serviceSection__btn {
  padding: 0.1rem 1rem 0.1rem 1rem;
  border-radius: 50px;
  color: #042860;
  background: #00E0B5;
  margin-top: 1rem;
  margin-left: 0.8rem;
  box-shadow: 0rem 0rem 0.5rem #042860;
  transition: 0.1s all;
  width: fit-content;
  font-size: 1.375rem; }
  .serviceSection__btn:hover {
    box-shadow: 0rem 0rem 1rem #042860;
    color: #fff; }

/*------SERVICE SECTION------*/
.separator {
  border-bottom: 4px solid #081B3E;
  position: relative;
  margin-top: 3rem;
  margin-bottom: 2rem; }

.statistics__content {
  text-align: center;
  margin-top: 2rem; }
  .statistics__content .row {
    margin: 3rem 0rem 0rem 0rem; }

.statistics__title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #081B3E;
  background-color: #fff;
  text-align: start;
  position: absolute;
  top: -1.25rem;
  left: 5rem;
  letter-spacing: .5rem;
  line-height: 1;
  padding-left: 1rem;
  padding-right: 0.5rem; }

.statistics__para {
  text-align: center;
  font-size: 1.3125rem; }

.stat {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2.5rem 0; }
  .stat__subtitle {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #081B3E;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 0.5rem;
    margin-bottom: 0;
    padding-bottom: 0;
    border: 3px solid #081B3E;
    border-bottom: none; }
    .stat__subtitle::before {
      z-index: -5;
      width: 250px;
      height: 50px;
      content: '';
      position: absolute;
      left: 0px;
      top: 50px;
      background-color: #081B3E; }
    .stat__subtitle h4 {
      font-size: 1.8rem;
      color: #fff; }
  .stat__para {
    background-color: #fff;
    text-align: center;
    font-size: 1.3125rem;
    padding: 1.2rem 0.5rem 0.5rem 0.5rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 3px solid #081B3E;
    height: 9.1533rem; }
  .stat__items {
    border-radius: 15px;
    padding: 0;
    position: relative;
    width: 250px; }
  .stat .health__icon {
    padding: 0.5rem;
    color: #3AC279; }
  .stat .speed__icon {
    padding: 0.5rem;
    color: #F7AC0A; }
  .stat .skill__icon {
    padding: 0.5rem;
    color: #6A3AC2; }
  .stat .morale__icon {
    padding: 0.5rem;
    color: #C23A3A; }

.tiebreak__title, .card__title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  color: #081B3E; }

.tiebreak__para, .card__para {
  text-align: center;
  font-size: 1.3125rem; }

.gral__img {
  width: 80%;
  border-radius: 3%; }
  .gral__img-para {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.125rem; }

.adv {
  margin: 0; }
  .adv__content {
    text-align: center; }
  .adv__title {
    text-align: start;
    font-size: 2.5rem;
    font-weight: 700;
    color: #081B3E;
    background-color: #fff;
    margin-bottom: 2rem;
    position: absolute;
    top: -1.25rem;
    left: 5rem;
    letter-spacing: .5rem;
    line-height: 1;
    padding-left: 1rem;
    padding-right: 0.5rem; }

.adventure {
  display: inline-block;
  padding-top: 2rem; }

.energy {
  margin-top: 2rem;
  margin-right: 1rem;
  margin-bottom: 2rem; }

.exp {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-bottom: 2rem; }

.energy, .exp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 10px;
  box-shadow: 0rem 0rem 0.5rem #8ebeff;
  background-color: #081B3E;
  border-radius: 10px;
  border: 3px solid #081B3E; }
  .energy__title, .exp__title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0.5rem 0rem;
    margin-bottom: 0; }
  .energy__para, .exp__para {
    text-align: center;
    font-size: 1.3125rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 10px; }

.lvl__img {
  padding: 2rem;
  width: 60%; }

.ban__subtitle {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  padding-top: 1rem;
  color: #fff; }

.ban__para {
  text-align: center;
  font-size: 1.3125rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px; }

.ban__item {
  background-color: #C23A3A;
  border: 3px solid #C23A3A;
  padding-left: 0;
  padding-right: 0;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 10px;
  box-shadow: 0rem 0rem 0.8rem #042860; }

.bans__content {
  text-align: center;
  padding-bottom: 3rem; }

.bans__title {
  text-align: start;
  font-size: 2.5rem;
  font-weight: 700;
  color: #081B3E;
  background-color: #fff;
  margin-bottom: 2rem;
  position: absolute;
  top: -1.25rem;
  left: 5rem;
  letter-spacing: .5rem;
  line-height: 1;
  padding-left: 1rem;
  padding-right: 0.5rem; }

.title, .combat__title, .types__title, .buff__title, .comp__title, .trend__title {
  font-size: 2.5rem;
  text-align: start;
  font-weight: 700;
  color: #081B3E;
  background-color: #fff;
  position: absolute;
  top: -1.25rem;
  left: 5rem;
  letter-spacing: .5rem;
  line-height: 1;
  padding-left: 1rem;
  padding-right: 0.5rem; }

.para-centered, .combat__para, .rewards__para, .types__para, .morale__para, .buff__para, .trend__para {
  font-size: 1.3125rem;
  text-align: center;
  font-weight: 400; }

.subtitle, .rewards__title, .morale__title, .buff__subtitle, .comp__subtitle, .trend__name {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 700;
  color: #081B3E; }

.combat__para {
  margin-top: 1rem;
  margin-bottom: 2rem; }

.combat__img {
  width: 80%;
  border-radius: 3%; }

.combat__row {
  margin-bottom: 2rem; }

.table__arena {
  text-align: center; }

.table__cont {
  position: relative;
  transition: all 1s; }
  .table__cont:hover .table__slp {
    opacity: 1; }

.table__cup {
  padding: 1rem;
  color: #fff;
  background-color: #081B3E;
  border-radius: 10px;
  width: 100%;
  opacity: 1; }

.table__slp {
  position: absolute;
  top: 0;
  z-index: 10;
  padding: 1rem 1rem 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #081B3E;
  border-radius: 10px;
  width: 100%;
  opacity: 0;
  transition: all .1s; }

.slp__icon {
  width: 25px;
  margin-left: 0.2rem;
  margin-right: 0.2rem; }

.type {
  margin-top: 4rem; }

.types {
  margin-top: 3rem;
  margin-bottom: 3rem; }
  .types__img {
    width: 300px; }
    .types__img-triangle {
      width: 600px;
      padding-top: 2rem; }
  .types__subtitle {
    margin-top: 1rem; }

.morale__cont {
  background-color: #081B3E;
  padding: 0;
  padding-top: 0.5rem;
  border: 3px solid #081B3E;
  border-radius: 10px;
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.morale__title {
  font-size: 2.1rem;
  color: #fff; }

.morale__para {
  background-color: #fff;
  border-radius: 10px;
  padding: 0.5rem; }

.aroma {
  width: 50px;
  height: 50px;
  background-image: url(../../assets/buffs/aroma.png);
  background-repeat: no-repeat;
  background-position: center; }

.attack-down {
  width: 50px;
  height: 50px;
  background-image: url(../../assets/buffs/attack-down.png);
  background-repeat: no-repeat;
  background-position: center; }

.attack-up {
  width: 50px;
  height: 50px;
  background-image: url(../../assets/buffs/attack-up.png);
  background-repeat: no-repeat;
  background-position: center; }

.chill {
  width: 50px;
  height: 50px;
  background-image: url(../../assets/buffs/chill.png);
  background-repeat: no-repeat;
  background-position: center; }

.fear {
  width: 50px;
  height: 50px;
  background-image: url(../../assets/buffs/fear.png);
  background-repeat: no-repeat;
  background-position: center; }

.fragile {
  width: 50px;
  height: 50px;
  background-image: url(../../assets/buffs/fragile.png);
  background-repeat: no-repeat;
  background-position: center; }

.jinx {
  width: 50px;
  height: 50px;
  background-image: url(../../assets/buffs/jinx.png);
  background-repeat: no-repeat;
  background-position: center; }

.lethal {
  width: 50px;
  height: 50px;
  background-image: url(../../assets/buffs/lethal.png);
  background-repeat: no-repeat;
  background-position: center; }

.morale-down {
  width: 50px;
  height: 50px;
  background-image: url(../../assets/buffs/morale-down.png);
  background-repeat: no-repeat;
  background-position: center; }

.morale-up {
  width: 50px;
  height: 50px;
  background-image: url(../../assets/buffs/morale-up.png);
  background-repeat: no-repeat;
  background-position: center; }

.poison {
  width: 50px;
  height: 50px;
  background-image: url(../../assets/buffs/poison.png);
  background-repeat: no-repeat;
  background-position: center; }

.sleep {
  width: 50px;
  height: 50px;
  background-image: url(../../assets/buffs/sleep.png);
  background-repeat: no-repeat;
  background-position: center; }

.speed-down {
  width: 50px;
  height: 50px;
  background-image: url(../../assets/buffs/speed-down.png);
  background-repeat: no-repeat;
  background-position: center; }

.speed-up {
  width: 50px;
  height: 50px;
  background-image: url(../../assets/buffs/speed-up.png);
  background-repeat: no-repeat;
  background-position: center; }

.stench {
  width: 50px;
  height: 50px;
  background-image: url(../../assets/buffs/stench.png);
  background-repeat: no-repeat;
  background-position: center; }

.stun {
  width: 50px;
  height: 50px;
  background-image: url(../../assets/buffs/stun.png);
  background-repeat: no-repeat;
  background-position: center; }

.buff {
  margin-top: 4rem; }
  .buff__row {
    border: 2px solid #081B3E;
    border-radius: 10px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem; }
  .buff__subtitle {
    margin-top: 0.5rem;
    text-transform: uppercase; }
  .buff__cont {
    display: flex;
    justify-content: center;
    align-items: center; }

.comp {
  position: relative;
  overflow: hidden; }
  .comp__subtitle {
    margin-top: 2rem; }
  .comp__para {
    font-size: 1.3125rem;
    text-align: center;
    font-weight: 400;
    color: #fff;
    background-color: #081B3E;
    padding: 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; }
    .comp__para-f {
      border-top-right-radius: 10px;
      border-top-left-radius: 0px;
      /*position: absolute;
            bottom: -90px;*/
      display: block; }
    .comp__para-m {
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      /*position: absolute;
            bottom: -90px;*/
      display: none; }
    .comp__para-b {
      border-top-right-radius: 0px;
      border-top-left-radius: 10px;
      /*position: absolute;
            bottom: -90px;*/
      display: none; }
  .comp__img {
    z-index: 10;
    margin: 0;
    padding: 0; }
  .comp__item {
    padding: 0; }
  .comp__input {
    display: none; }
  .comp__label {
    width: 33%;
    margin: 0;
    padding: 0;
    cursor: pointer; }
  .comp__back {
    z-index: -1;
    position: absolute;
    width: 33%;
    height: 100%;
    left: 0;
    background-color: #081B3E;
    border-radius: 10px;
    transition: 0.5s all; }
    .comp__back::before {
      visibility: none;
      content: "";
      width: 50px;
      height: 50px;
      background-color: #fff;
      box-shadow: 1rem 1rem #081B3E;
      position: absolute;
      left: -50px;
      top: 176px;
      border-radius: 10px; }
    .comp__back::after {
      content: "";
      width: 50px;
      height: 50px;
      background-color: #fff;
      box-shadow: -0.5rem 0.5rem 0 #081B3E;
      position: absolute;
      right: -50px;
      top: 176px;
      border-radius: 10px; }

#comp1-f:checked ~ .comp__para-m, #comp1-f:checked ~ .comp__para-f {
  display: none; }

#comp1-f:checked ~ .comp__para-f {
  display: block; }

#comp1-f:checked ~ .comp__back {
  left: 0%; }

#comp1-m:checked ~ .comp__para-f, #comp1-m:checked ~ .comp__para-b {
  display: none; }

#comp1-m:checked ~ .comp__para-m {
  display: block; }

#comp1-m:checked ~ .comp__back {
  left: 33%; }

#comp1-b:checked ~ .comp__para-f, #comp1-b:checked ~ .comp__para-m {
  display: none; }

#comp1-b:checked ~ .comp__para-b {
  display: block; }

#comp1-b:checked ~ .comp__back {
  left: 67.1%; }

.trend__name {
  text-align: start; }

.trend__para {
  font-size: 1.3125rem;
  text-align: start;
  font-weight: 400; }

@media screen and (max-width: 800px) {
  .nav__li a {
    font-size: 0.9rem;
    margin: 0rem 0rem 0rem 0.2rem; }
  .example__img {
    width: 200px; }
  .example__cont {
    margin: 1rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .example__para {
    width: 100%; }
  .nav__container {
    display: none; }
  .contact__btn {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .footer__axie, .footer__web {
    flex-direction: column; }
  .hero__container {
    flex-direction: column;
    height: 90vh; }
  .hero__title {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2rem; }
  .hero__para {
    text-align: center;
    align-self: center;
    font-size: 1.1rem;
    margin: 1.5rem 0rem 0rem 0rem; }
  .hero__data {
    text-align: center; }
  .hero__img {
    width: 100vw; }
  .gameSection {
    height: auto; }
    .gameSection div article {
      margin: 0; }
    .gameSection__title {
      font-size: 2.5rem;
      text-align: center;
      line-height: 1.1; }
    .gameSection__para {
      width: auto;
      margin: 1rem 1rem 0rem 1rem;
      text-align: center;
      font-size: 1.1rem; }
    .gameSection__img {
      display: none; }
    .gameSection__video {
      width: 100%;
      margin: 1rem 0rem 0rem 0rem; }
  .axieSection {
    height: auto;
    padding-bottom: 2rem; }
    .axieSection__title {
      font-size: 2.5rem;
      text-align: center;
      line-height: 1.1;
      margin-top: 2rem; }
    .axieSection__para {
      text-align: center;
      font-size: 1.1rem; }
    .axieSection__examples {
      display: none; }
    .axieSection__carousel {
      width: 300px;
      margin-left: auto;
      margin-right: auto; }
  .serviceSection {
    display: none;
    height: auto; }
    .serviceSection__title {
      font-size: 2rem;
      margin: 0rem; }
    .serviceSection__para {
      text-align: center;
      font-size: 1rem; }
    .serviceSection__btn {
      margin: 0; }
    .serviceSection__carousel {
      background-color: #006CFF;
      width: 100%; }
    .serviceSection__pvp, .serviceSection__econ, .serviceSection__becas {
      width: 75vw;
      margin: 3rem auto 3rem auto; }
  .footer {
    font-size: 0.7rem;
    overflow: hidden; }
    .footer__axie, .footer__web {
      align-items: center;
      justify-content: center;
      text-align: center; }
    .footer__axieLogo, .footer__webLogo {
      width: 80px; }
  .separator {
    margin-top: 1rem; }
  .stat {
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .stat__items {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem; }
  .energy {
    margin: 0; }
  .exp {
    margin: 1rem 0 0 0; }
  .ban__item {
    width: 100%; }
  .adventure__img {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .gral__img-para {
    margin-bottom: 2rem; } }

@media screen and (min-width: 700px) and (max-width: 800px) {
  .hero__img {
    width: auto;
    margin-left: auto;
    margin-right: auto; }
  .nav__logo, .contact__btn {
    display: block; } }

@media screen and (min-width: 1000px) and (max-width: 1500px) {
  .serviceSection__title {
    font-size: 2rem; }
  .serviceSection__para {
    font-size: 1.2rem; }
  .serviceSection__btn {
    font-size: 1.5rem; } }

@media screen and (min-width: 801px) {
  .axieSection__carousel {
    display: none; }
  .serviceSection {
    height: 50vh;
    background-color: #006CFF; }
    .serviceSection__carousel {
      display: none; } }

@media screen and (max-height: 650px) {
  .serviceSection__title {
    font-size: 2rem; }
  .serviceSection__btn, .serviceSection__para {
    font-size: 0.8rem; }
  .serviceSection__pvp, .serviceSection__econ, .serviceSection__becas {
    height: 75vw; } }

@media screen and (max-height: 500px) {
  .hero__img {
    display: none; }
  .hero__title {
    margin-top: 3rem; } }

@media screen and (min-width: 992px) {
  .navbar-brand {
    display: none; } }

@media screen and (max-width: 992px) {
  .logo__collapsed {
    display: none; } }

@media screen and (max-width: 750px) {
  .separator {
    border: none;
    align-items: center;
    margin-bottom: 0;
    position: relative; }
    .separator h2 {
      position: relative;
      text-align: center;
      display: inline-block;
      top: 0;
      left: 0;
      font-size: 2rem; }
  .statistics__title {
    margin-bottom: 1rem; }
  .statistics__para {
    margin-top: 0; }
  .tiebreak__title, .card__title {
    font-size: 1.5rem; }
  .bans__title {
    margin-top: 1rem;
    margin-bottom: 0; } }

@media screen and (max-width: 700px) {
  .hero__container {
    padding-top: 0; }
  .hero__img {
    width: 250px; } }

@media screen and (max-width: 400px) {
  .axieSection__carousel {
    width: 300px; }
  .statistics__title {
    padding: 0;
    letter-spacing: .2rem; } }
