@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*
colors{
    midnight blue: #001f3d
    navy blue: #045174
    desert sun: #d89c60
    burnt orange: #e87a00

    dappradar
    oscuro: #04266c
    mas oscuro: #042860
    claro: #006CFF
    mas claro:  ##0076FF
    verdecin: rgb(0, 224, 181)
              #00E0B5
    gricesin: #8EBEFF
}*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background-color: #D89C60;*/
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

/*------NAV------*/

.nav__container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
}
.nav__ul, .nav__li{
    display: inline-block;
}

.nav__li a{
    color: #8EBEFF;
    font-size: 1rem;
    /*padding: 0.5rem;*/
    margin: 1rem;
}

.nav__li a:hover{
    color: #fff;
}

.contact__btn{
    background-color: #00E0B5;
    background-image: linear-gradient(45deg, rgba(255,0,108,1) 25%, rgba(4,40,96,1) 50%);
    background-size: 500%;
    background-position: right;
    color: #fff;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem 1rem 0.5rem;
    margin: 1rem;
    /*box-shadow: 0rem 0rem 0.5rem #fff;*/
    transition: 1s background-position;
}
.contact__btn:hover{
    /*box-shadow: 0rem 0rem 0.8rem #fff;*/
    color: #fff;
    background-position: left;
}

.logo{
    width: 6rem;
    /*height: 6rem;*/
    /*margin: 1rem;*/
}


/*------NAV------*/

/*------FOOTER------*/

.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000;
}

.footer__axie, .footer__web{
    display: flex;
    width: 800px;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0rem 1rem 0rem;
}
.footer__axie{
    border-bottom: solid 1px #C4C4C4;
    padding: 1rem 0rem 1rem 0rem;
}

.footer__axieList, .footer__webList{
    display: flex;
    margin: 1rem;
    list-style: none;
}

.footer__axieList>li, .footer__webList>li{
    margin: 0rem 1rem 0rem 1rem;
}

.social__icon{
    color: #fff;
}
.social__icon:visited{
    color: #fff;
}
.footer__title{
    color: #C4C4C4;
}
/*------FOOTER------*/

/*------HERO------*/

.hero__container{
    /*   
    display: flex;
    flex-direction: column;
    align-items: center;
    */
    margin: 1rem;
}
.hero__title, .hero__para, .hero__btn{
    text-align: center;
    margin: 0.5rem;
}

.hero__para{
    text-align: center;
}
/*
.btn{
    background-color: #E87A00;
    color: #045174;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 1rem auto 1rem auto;
}*/ 

/*------HERO------*/

/*------GAME SECTION------*/

.gameSection{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    margin-top: 3rem;
    margin-bottom: 5rem;
}
.gameSection__title{
    font-size: 3.25rem;
    margin-bottom: 1rem;
    color: #081B3E;
}
.gameSection > div>article{
    text-align: justify;
    font-size: 1.3125rem;
    margin: 5rem 1.5rem 0rem 1.5rem;
}
.gameSection__video{
    text-align: justify;
    font-size: 1.3125rem;
    margin: 10rem 1.5rem 3rem 1.5rem;
    box-shadow: 0rem 0rem 1rem #081B3E;
}
.gameSection__para, .gameSection__video{
    width: 33vw;
}
.gameSection__img{
    width: 700px;
}

/*------GAME SECTION------*/

/*------AXIE SECTION------*/
.axieSection{
    height: 80vh;
    background-color: #042860;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.axieSection__title, .axieSection__para{
    text-align: center;
    margin: 1rem;
    color: #fff;
}
.example__para{
    text-align: center;
    color: #fff;
    font-weight: 600;
}
.axieSection__title{
    font-size: 3.25rem;
}
.axieSection__para{
    font-size: 1.1rem;
}
.axieSection__examples{
    display: flex;
    align-items: center;
    justify-content: center;
}
.example__cont{
    background-color: #fff;
    border-radius: 10px;
    margin: 1rem;
    font-size: 1.125rem;
    box-shadow: 0rem 0rem 0.8rem #042860;
}
.example__cont>p{
    background-color: #006CFF;
    padding: 0.5rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.example__cont:hover{
    box-shadow: 0rem 0rem 1rem #C4C4C4;
}

.example__img{
    width: 300px;
}
.btn__cont{
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 50px;
    color: #042860;
    background: #00E0B5;
    margin-top: 1rem;
    margin-left: 0.8rem;
    box-shadow: 0rem 0rem 0.5rem #fff;   
    transition: 0.1s all;
    width: fit-content;
    font-size: 1.375rem;
}
.btn__cont:hover{
    box-shadow: 0rem 0rem 0.8rem #fff;  
    transition: 0.1s all;
}
.btn__cont:hover>a{
    color: #fff;
}

/*------AXIE SECTION------*/

/*------SERVICE SECTION------*/

.serviceSection{
    height: 50vh;
    background-color: #006CFF;
    display: flex;
    text-align: center;
    align-items: center;
}

.serviceSection__pvp, .serviceSection__econ, .serviceSection__becas{
    background-color: #fff;
    box-shadow: 0rem 0rem 0.5rem #8EBEFF;
    border-radius: 10px;
    padding: 1rem;
    height: 33vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33vw;
    margin: 1rem;
}
.serviceSection__title{
    color: #081B3E;
    font-size: 3rem;
    line-height: 1.1;
    margin-bottom: 1rem;
}
.serviceSection__para{
    font-size: 1.25rem;
    margin-bottom: 1rem;
}
.serviceSection__btn{
    padding: 0.1rem 1rem 0.1rem 1rem;
    border-radius: 50px;
    color: #042860;
    background: #00E0B5;
    margin-top: 1rem;
    margin-left: 0.8rem;
    box-shadow: 0rem 0rem 0.5rem #042860;   
    transition: 0.1s all;
    width: fit-content;
    font-size: 1.375rem;

}
.serviceSection__btn:hover{
    box-shadow: 0rem 0rem 1rem #042860;
    color: #fff;
}

/*------SERVICE SECTION------*/

/* GENERAL.HTML */
/*------A------*/

.statistics__header{
    text-align: center;
}

.statistics__items{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.statistics__items > div{
    margin: 2rem;
    width: 25vw;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "title1 text1 text1"
        "img1 img2 img3"
        "title2 text2 text2";
    text-align: center;
    align-items: center;
    justify-content: center;  
}
.tiebrak__title{
    grid-area: title1;
    align-self: left;
}
.tiebreak__para{
    grid-area: text1;
    margin-right: 5rem;
}

.example__img1{
    grid-area: img1;
    place-self: center;
}
.example__img2{
    grid-area: img2;
    
    place-self: center;
}
.example__img3{
    grid-area: img3;
    
    place-self: center;
}

.card__title{
    grid-area: title2;
}

.card__para{
    grid-area: text2;
    
    margin-right: 5rem;
}

.adv__title{
    text-align: center;
    margin: 2rem;
}

.energy{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 1rem;
}

.energy__title{
    align-self: left;
}
.energy__para{
    width: 60vw;
}

.exp{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 1rem;
}

.exp__title{
    align-self: right;
}
.exp__para{
    width: 60vw;
}

.lvl__table{
    display: flex;
    align-items: center;
    justify-content: center;
}

.lvl__img{
    padding: 2rem;
    width: 900px;
}

.bans__title{
    text-align: center;
}
.bans{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1rem 2rem 3rem 2rem;
}
.bans>div{
    margin: 1rem;
}

.scholar{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 1rem;
}

.scholar>*{
    padding: 0.5rem;
}

.scholar__video{
    width: 30vw;
}

.how, .needs, .where, .guilds, .myScholar, .ourScholar{
    margin: 1rem;
}

.guilds__container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 2rem;
}
.guilds__img{
    width: 200px;
}

.myScholar{
    text-align: center;
}
.myScholar__cont{
    width: 40vw;
    margin: 1rem;
}
.myScholar__flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.myScholar__img{
    margin: 1rem;
}

.ourScholar{
    text-align: center;
}
.ul__cont{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem 0rem 2rem 0rem;
}
.breed{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem;
}
.breed__title{
    text-align: center;
}

.breed__para, .breed__img{
    width: 40vw;
}

.coins{
    margin: 1rem;
    text-align: center;
}

.coins__flex{
    display: flex;
}

.roi{
    margin: 1rem;
}
.roi__title{
    text-align: center;
}
.roi__flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.roi__img{
    height: 100px;
    width: 40rem;
}

.risk{
    margin: 1rem;
}
.risk__title{
    text-align: center;
}
.risk__title--right{
    text-align: end;
}
.tree__flex{
    display: flex;
}
.stake__flex{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem;
}
.stake__flex>div>p{
    width: 40vw;
}

.combat{
    margin: 1rem;
}
.combat__title{
    text-align: center;
}
.rewards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem 0rem 2rem 0rem;
}
.rewards__para{
    padding: 1rem;
}
.slpTable__flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slpTable__img{
    width: 500px;
    padding: 2rem;
}
.types{
    margin: 1rem;
}
.types__title{
    text-align: center;
}
.types__flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.types__para{
    margin-left: 2rem;
}
.types__flex>div{
    margin-top: 2rem;
}
.morale{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1rem;
}
.lastStand, .crit{
    padding: 1rem;
}
.buff{
    margin: 1rem;
}
.buff__title{
    text-align: center;
}
.buff__grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
}
.buff__grid>*{
    padding: 1rem 0rem 1rem 0rem;
}
.buff__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.comp{
    margin: 1rem;
}
.comp__title{
    text-align: center;
}
.comp__example{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.comp__cont{
    display: flex;
    align-items: center;
    justify-items: space-between;
}
.trend__title{
    text-align: center;
}
.trend{
    margin: 1rem;
}
.trend__flex{
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 1rem 0rem 1rem 0rem;
}

.nav__container{
    background-color: #006CFF;
    margin: 0rem;
    position: fixed;
    top: 0rem;
    width: 100vw;
    height: 10vh;

}
.nav__logo{
    width: 70px;
    margin-right: 2rem;
}
.hero__container{
    margin: 0rem;
    height: 95vh;
    background-color: #04266c;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero__title{
    font-family: Poppins;
    font-weight: 700;
    font-size: 5.125rem;
    line-height: 1;
    text-align: start;
}
.hero__para{
    margin-top: 1rem;
    text-align: start;
    font-size: 1.3125rem;
    font-weight: 400;
}
.hero__data-img{
    width: 50vw;
}
.hero__data{
    width: 600px;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.hero__btn{
    align-self: left;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 50px;
    color: #042860;
    background: #00E0B5;
    margin-top: 1rem;
    margin-left: 0.8rem;
    box-shadow: 0rem 0rem 0.5rem #fff;   
    transition: 0.1s all;
    width: fit-content;
    font-size: 22px;
}
.hero__btn:hover{
    box-shadow: 0rem 0rem 0.8rem #fff;
    color: #fff;
}


@media screen and (max-width:360px){
    .nav__li>a{
        font-size: 0.9rem;
        margin: 0rem 0rem 0rem 0.2rem;
    }
    .nav__logo, .contact__btn{
        display: none;
    }
    .gameSection, .axieSection__examples, .serviceSection, .footer__axie, .footer__web, .statistics__items, .energy, .exp, .bans, .rewards, .types__flex, .morale, .trend__flex, .breed, .coins__flex, .roi__flex, .tree__flex, .stake__flex, .comp__cont{
        flex-direction: column;
    }
    .gameSection>article, .gameSection__video, .serviceSection>*, .statistics__items>div{
        width: auto;
    }
    .gameSection>article, .statistics__header, .statistics__items>div, .tiebreak__para, .card__para{
        margin: 1rem;
    }
    .gameSection__para{
        width: auto;
        margin: 1rem 1rem 0rem 1rem;
    }
    .footer__axie, .footer__web{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .footer__axieLogo, .footer__webLogo{
        width: 80px;
    }
    .grid{
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
            "title1"
            "text1"
            "img1"
            "img2"
            "img3"
            "title2"
            "text2";
    }
    .exp__title{
        order: -1;
    }
    .lvl__title{
        display: none;
    }
    .lvl__img{
        width: 100vw;
    }

    .scholar__para{
        padding: 0rem;
    }
    .scholar__video{
        width: auto;
    }
    .guilds__container{
        display: none;
    }
    /*
    .how, .needs, .where{
        text-align: center;
    }
    */
    .myScholar__flex{
        flex-direction: column;
    }
    .myScholar__cont{
        width: auto;
    }
    .myScholar__img{
        width: 250px;
    }
    .ourScholar__ul{
        list-style: none;
    }
    .ourScholar__btn{
        display: block;
        font-size: 1.2rem;
    }
    .example__img1, .example__img2, .example__img3{
        width: 300px;
        margin: 0.2rem 0rem 0.2rem 0rem;
    }
    .card__title{
        margin-top: 1rem;
    }
    .rewards__para{
        padding: 0rem;
    }
    .slpTable__title{
        display: none;
    }
    .slpTable__img{
        width: 300px;
        padding: 0rem;
    }
    .types__img{
        width: 300px;
        margin: 1rem;
    }
    .types__para{
        margin: 0rem;
    }
    .trend__flex>img{
        order: 2;
    }
    .breed__para{
        width: auto;
    }
    .breed__img, .roi__img{
        width: 300px;
    }
    .stake__flex>div>p{
        width: auto;
    }
}