@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*
colors{
    midnight blue: #001f3d
    navy blue: #045174
    desert sun: #d89c60
    burnt orange: #e87a00

    dappradar
    oscuro: #04266c
    mas oscuro: #042860
    claro: #006CFF
    mas claro:  ##0076FF
    verdecin: rgb(0, 224, 181)
              #00E0B5
    gricesin: #8EBEFF
}*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
p{
    margin: 0;
}
ul{
    padding:0;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}

/*------NAV------*/
header{
    position: sticky;
    top: 0;
    z-index: 100;
}
.container-fluid{
    padding: 0;
}
/*
.nav__container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #006CFF;
    line-height: 1;
}*/
.navbar{
    background-color: #006CFF;
}
.bars__icon{
    color: #fff;
    font-size: 2rem;
}
/*
.nav__ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__li a{
    color: #8EBEFF;
    font-size: 1rem;
    margin: 1rem;
    text-decoration: none;
}

.nav__li a:hover{
    color: #fff;
}*/

.nav__li{
    color: #8EBEFF;
    font-size: 1rem;
    margin: 1rem;
    text-decoration: none;
    text-align: center;
}
.nav__li:visited{
    color: #8EBEFF;
}

.nav__li:hover{
    color: #fff;
}

.contact__btn{
    background-color: #00E0B5;
    background-image: linear-gradient(45deg, rgba(255,0,108,1) 25%, rgba(4,40,96,1) 50%);
    background-size: 500%;
    background-position: right;
    color: #fff;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    text-decoration: none;
    padding: 0.5rem 1rem 0.5rem;
    margin: 1rem;
    /*box-shadow: 0rem 0rem 0.5rem #fff;*/
    transition: 1s background-position;
}
.contact__btn:hover{
    /*box-shadow: 0rem 0rem 0.8rem #fff;*/
    color: #fff;
    background-position: left;
}

.logo{
    width: 6rem;
}



/*------NAV------*/

/*------FOOTER------*/

.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000;
}

.footer__axie, .footer__web{
    display: flex;
    width: 800px;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0rem 1rem 0rem;
}
.footer__axie{
    border-bottom: solid 1px #C4C4C4;
    padding: 1rem 0rem 1rem 0rem;
}

.footer__axieList, .footer__webList{
    display: flex;
    margin: 1rem;
    list-style: none;
}

.footer__axieList>li, .footer__webList>li{
    margin: 0rem 1rem 0rem 1rem;
}
.footer__axie>div, .footer__web>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
}

.social__icon{
    color: #fff;
}
.social__icon:visited{
    color: #fff;
}
.a:visited{
    color: #fff;
}
.footer__title{
    color: #C4C4C4;
}
/*------FOOTER------*/

/*------HERO------*/
.hero__title, .hero__para, .hero__btn{
    text-align: center;
    margin: 0.5rem;
}

.hero__para{
    text-align: center;
}

.hero__img{
    max-width: 600px;
}

/*------HERO------*/

/*------GAME SECTION------*/

.gameSection{
    height: 60vh;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.gameSection__title{
    font-size: 3.25rem;
    font-weight: 700;
    margin-top: 2rem;
    color: #081B3E;
}
.gameSection__para{
    text-align: justify;
    font-size: 1.3125rem;
    margin-top: 1rem;

}
.gameSection__video{
    align-self: flex-end;
    margin: 8rem 0rem 3rem 1.5rem;
    box-shadow: 0rem 0rem 1rem #081B3E;
}

/*
.gameSection__para, .gameSection__video{
    width: 33vw;
}*/
.gameSection__img{
    width: 100%;
    margin-top: 1rem;
}

/*------GAME SECTION------*/

/*------AXIE SECTION------*/
.axieSection{
    height: 80vh;
    background-color: #042860;
    display: inline-block;
    width: 100vw;
}

.axieSection__title, .axieSection__para{
    text-align: center;
    margin: 1rem;
    color: #fff;
}
.example__para{
    text-align: center;
    color: #fff;
    font-weight: 600;
    background-color: #006CFF;
    padding: 0.5rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
}
.axieSection__title{
    font-size: 3.25rem;
    font-weight: 700;
    margin-top: 3rem;
}
.axieSection__para{
    font-size: 1.1rem;
}

.example__cont{
    flex:0 1 auto;
    padding:0;
    background-color: #fff;
    border-radius: 11px;
    margin: 1rem;
    font-size: 1.125rem;
    box-shadow: 0rem 0rem 0.8rem #042860;
    width: 300px;
}
.example__cont:hover{
    box-shadow: 0rem 0rem 1rem #C4C4C4;
}

.example__img{
    width: 300px;
}
.btn__cont{
    border-radius: 50px;
    color: #042860;
    background: #00E0B5;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0rem 0rem 0.5rem #fff;   
    transition: 0.1s all;
    width: fit-content;
}
.btn__cont>a{
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1.375rem;
}
.btn__cont:hover{
    box-shadow: 0rem 0rem 0.8rem #fff;  
    transition: 0.1s all;
}
.btn__cont:hover>a{
    color: #fff;
}

/*------AXIE SECTION------*/

/*------SERVICE SECTION------*/
.serviceSection__pvp, .serviceSection__econ, .serviceSection__becas{
    background-color: #fff;
    box-shadow: 0rem 0rem 0.5rem #8EBEFF;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem 1rem;
    height: 33vh;
}
.serviceSection__title{
    color: #081B3E;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 1rem;
}
.serviceSection__para{
    font-size: 1.25rem;
    margin-bottom: 1rem;
    text-align: center;
}
.serviceSection__btn{
    padding: 0.1rem 1rem 0.1rem 1rem;
    border-radius: 50px;
    color: #042860;
    background: #00E0B5;
    margin-top: 1rem;
    margin-left: 0.8rem;
    box-shadow: 0rem 0rem 0.5rem #042860;   
    transition: 0.1s all;
    width: fit-content;
    font-size: 1.375rem;

}
.serviceSection__btn:hover{
    box-shadow: 0rem 0rem 1rem #042860;
    color: #fff;
}

/*------SERVICE SECTION------*/



/* GENERAL.HTML */
/*------A------*/

.statistics__content{
    text-align: center;
    margin-top: 2rem;
}
.statistics__content>.row{
    margin: 3rem 0rem 0rem 0rem;
}
.separator{
    border-bottom: 4px solid #081B3E;
    position: relative;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.statistics__title{
    font-size: 2.5rem;
    font-weight: 700;
    color: #081B3E;
    background-color: #fff;
    text-align: start;
    position: absolute;
    top: -1.25rem;
    left: 5rem;
    letter-spacing: .5rem;
    line-height: 1;
    padding-left: 1rem;
    padding-right: 0.5rem;
}
/*
.statistics__title::after{
    content: '';
    width: 100%;
    height: 5px;
    position: absolute;
    background-color: #081B3E;
}*/
.statistics__para{
    text-align: center;
    font-size: 1.3125rem;
}
.stat{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2.5rem 0;
}
.stat__subtitle{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #081B3E;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 0.5rem;
    margin-bottom: 0;
    padding-bottom: 0;
    border: 3px solid #081B3E;
    border-bottom: none;
}
.stat__subtitle::before{
    z-index: -5;
    width: 250px;
    height: 50px;
    content: '';
    position: absolute;
    left: 0px;
    top: 50px;
    background-color: #081B3E;
}

.stat__subtitle>h4{
    font-size: 1.8rem;
    color: #fff;
}
.health__icon{
    padding: 0.5rem;
    color: #3AC279;
}
.speed__icon{
    padding: 0.5rem;
    color: #F7AC0A;

}
.skill__icon{
    padding: 0.5rem;
    color: #6A3AC2;

}
.morale__icon{
    padding: 0.5rem;
    color: #C23A3A;

}
.stat__para{
    background-color: #fff;
    text-align: center;
    font-size: 1.3125rem;
    padding: 1.2rem 0.5rem 0.5rem 0.5rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 3px solid #081B3E;
    height: 9.1533rem;
    /*
    position: absolute;
    top: 0;*/
}
.stat__items{
    /*box-shadow: 0rem 0rem 0.8rem #042860;*/
    border-radius: 15px;
    padding: 0;
    position: relative;
    width: 250px;
}

.tiebreak__title, .card__title, .ban__subtitle{
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: #081B3E;
}


.tiebreak__para, .card__para, .energy__para, .exp__para, .ban__para{
    text-align: center;
    font-size: 1.3125rem;
}

.gral__img{
    width: 80%;
    border-radius: 3%;
}
.gral__img-para{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.125rem;
}
.adv{
    margin: 0;
}
.adventure{
    display: inline-block;
    padding-top: 2rem;
}


.energy{
    margin-top: 2rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}
.exp{
    margin-top: 2rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
}
.energy, .exp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0rem 0rem 0.5rem #8ebeff;
    background-color: #081B3E;
    border-radius: 10px;
    border: 3px solid #081B3E;
}
.energy__title, .exp__title{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0.5rem 0rem;
    margin-bottom: 0;
}

.energy__para, .exp__para{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 10px;
}

.adv__content{
    text-align: center;
}
.adv__title, .bans__title{
    text-align: start;
    font-size: 2.5rem;
    font-weight: 700;
    color: #081B3E;
    background-color: #fff;
    margin-bottom: 2rem;
    position: absolute;
    top: -1.25rem;
    left: 5rem;
    letter-spacing: .5rem;
    line-height: 1;
    padding-left: 1rem;
    padding-right: 0.5rem;
    
}
.lvl__img{
    padding: 2rem;
    width: 60%;
}

.bans__content{
    text-align: center;
    padding-bottom: 3rem;
}
.ban__item{
    background-color: #C23A3A;
    border: 3px solid #C23A3A  ;
    padding-left: 0;
    padding-right: 0;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
    box-shadow: 0rem 0rem 0.8rem #042860;
}
.ban__subtitle{
    padding-top: 1rem;
    color: #fff;
}
.ban__para{
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
}

/* GENERAL.HTML */

/*  BECAS.HTML  */
.scholar__content>*{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.scholar__video{
    width: 30vw;
}
.guilds__img{
    width: 200px;
}
.myScholar__title,.myScholar__para, .ourScholar__title, .guild__name{
    text-align: center;
}
/*  BECAS.HTML  */

/*  ECONOMÍA.HTML   */
.econ>*{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.breed__title, .coins, .roi__title{
    text-align: center;
}
.stake__title{
    margin-top: 1rem;
}
.icono{
    width: 3rem;
    margin-left: 1rem;
}

/*  ECONOMÍA.HTML   */


.combat{
    margin: 1rem;
}
.combat__title{
    text-align: center;
}

.rewards__para{
    padding: 1rem;
}
.slpTable__title, .rewards__title{
    text-align: center;
}
.types{
    margin-top: 3rem;
}
.type__img{
    width: 400px;
}
.slpTable__flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slpTable__img{
    width: 500px;
    padding: 2rem;
}
.types{
    margin: 1rem;
}
.types__title{
    text-align: center;
}
.types__flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.types__para{
    margin-left: 2rem;
}
.types__flex>div{
    margin-top: 2rem;
}
.morale{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1rem;
}
.lastStand, .crit{
    padding: 1rem;
}
.buff{
    margin: 1rem;
}
.buff__title{
    text-align: center;
}
.buff__grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
}
.buff__grid>*{
    padding: 1rem 0rem 1rem 0rem;
}
.buff__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.comp{
    margin: 1rem;
}
.comp__title{
    text-align: center;
}
.comp__example{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.comp__cont{
    display: flex;
    align-items: center;
    justify-items: space-between;
}
.trend__title{
    text-align: center;
}
.trend{
    margin: 1rem;
}
.trend__flex{
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 1rem 0rem 1rem 0rem;
}

.nav__logo{
    width: 70px;
    margin-right: 2rem;
    margin-left: 1rem;
}
.hero__container{
    display: inline-block;
    width: 100vw;
    height: 85vh;
    background-color: #04266c;
    padding-top: 4rem;
}
.hero__title{
    font-family: Poppins;
    font-weight: 700;
    font-size: 5.125rem;
    line-height: 1;
    text-align: start;
}
.hero__para{
    margin-top: 1rem;
    text-align: start;
    font-size: 1.3125rem;
    font-weight: 400;
}
.hero__data{
    color: #fff;
    margin-top: auto;
    margin-bottom: auto;
}
.hero__btn{
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 50px;
    color: #042860;
    background: #00E0B5;
    margin-top: 1rem;
    margin-left: 0.8rem;
    box-shadow: 0rem 0rem 0.5rem #fff;   
    transition: 0.1s all;
    width: fit-content;
    font-size: 22px;
}
.hero__btn:hover{
    box-shadow: 0rem 0rem 0.8rem #fff;
    color: #fff;
}

.icon{
    font-size: 1.5rem;
    color: #fff;
}

/* FORMULARIO */
input, textarea{
    padding: 0.5rem;
}
input:focus{
    border-bottom: none;
    outline: solid 1px #081B3E;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    box-shadow: 0 0 0 30px #fff inset !important;
}

.modal-title, .form__exp-yes>b, .form__exp-no>b{
    color: #081B3E;
    font-weight: 700;
    margin-right: 0.2rem;
}

.form__name, .form__age, .form__genre, .form__email, .form__dc{
    margin-bottom: 1rem;
    width: 100%;
    border: none;
    border-bottom: solid 1px #081B3E;

}
.form__exp-yes, .form__exp-no{
    display: inline-block;
    margin: 0.5rem;
}
.form__text{
    width: 100%;
    resize: none;
    border: none;
    border-bottom: 1px solid #081B3E;
    margin-bottom: 1rem;
}
.form__text:focus{
    border-bottom: none;
    outline: solid 1px #081B3E;
}

.form__btns{
    display: flex;
    justify-content: flex-end;
}
.form__reset, .form__submit{
    padding: 0.1rem 1rem 0.1rem 1rem;
    border: none;
    border-radius: 50px;
    margin-top: 1rem;
    margin-left: 0.8rem;
    box-shadow: 0rem 0rem 0.5rem #042860;   
    transition: 0.1s all;
    width: fit-content;
    font-size: 1.375rem;
}
.form__reset{
    color: #081B3E;
    background: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    margin-right: 0.5rem;
    font-size: 1.2rem;
}
.form__reset:hover{
    border-bottom: 1px solid #081B3E;
}
.form__submit{
    color: #fff;
    background: #081B3E;
}
.form__submit:hover{
    box-shadow: 0rem 0rem 1rem #042860;
    background: #00E0B5;
}

.example__text{
    text-align: center;
}


@media screen and (max-width:800px){
    .type__img{
        width: 200px;
    }
    .econ__video{
        width: 100%;
        margin: 0.5rem 0rem 0.5rem 0rem;
    }
    .nav__li>a{
        font-size: 0.9rem;
        margin: 0rem 0rem 0rem 0.2rem;
    }
    .example__img{
        width: 220px;
    }
    .trend__img{
        margin-right: 2rem;
    }
    .nav__container{
        display: none;
    }
    .contact__btn{
        align-self: center;
        display: block;
        align-items: center;
        background-color: transparent;
        margin-left: auto;
        margin-right: auto;
    }
    .gameSection, .axieSection__examples, .serviceSection, .footer__axie, .footer__web, .energy, .exp, .bans, .rewards, .types__flex, .morale, .trend__flex, .breed, .coins__flex, .roi__flex, .tree__flex, .stake__flex, .comp__cont{
        flex-direction: column;
    }
    .gameSection>article, .gameSection__video, .serviceSection>*, .statistics__items>div{
        width: auto;
    }
    /*
    .gameSection>article, .statistics__header, .statistics__items>div, .tiebreak__para, .card__para{
        margin: 1rem;
    }*/
    .gameSection__para{
        width: auto;
        margin: 1rem 1rem 0rem 1rem;
    }
    .footer__axie, .footer__web{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .footer__axieLogo, .footer__webLogo{
        width: 80px;
    }
    .exp__title{
        order: -1;
    }
    .lvl__title{
        display: none;
    }

    .scholar__para{
        padding: 0rem;
    }
    .scholar__video{
        width: auto;
    }
    .guilds__container{
        display: none;
    }
    /*
    .how, .needs, .where{
        text-align: center;
    }
    */
    .myScholar__flex{
        flex-direction: column;
    }
    .myScholar__cont{
        width: auto;
    }
    .myScholar__img{
        width: 250px;
    }
    .ourScholar__ul{
        list-style: none;
    }
    .ourScholar__btn{
        display: block;
        font-size: 1.2rem;
    }
    .example__img1, .example__img2, .example__img3{
        width: 300px;
        margin: 0.2rem 0rem 0.2rem 0rem;
    }
    .card__title{
        margin-top: 1rem;
    }
    .rewards__para{
        padding: 0rem;
    }
    .slpTable__title{
        display: none;
    }
    .slpTable__img{
        width: 300px;
        padding: 0rem;
    }
    .types__img{
        width: 300px;
        margin: 1rem;
    }
    .types__para{
        margin: 0rem;
    }
    .trend__flex>img{
        order: 2;
    }
    .breed__para{
        width: auto;
    }
    .breed__img, .roi__img{
        width: 300px;
    }
    .stake__flex>div>p{
        width: auto;
    }
}

@media screen and (min-width: 320px) and (max-width: 800px) {
    
    .hero__container{
        flex-direction: column;
        height: 90vh; 
    }
    .hero__title{
        text-align: center;
        font-size: 2.5rem;
        margin-top: 2rem;
    }
    .hero__para{
        text-align: center;
        align-self: center;
        font-size: 1.1rem;
        margin: 1.5rem 0rem 0rem 0rem;
    }
    .hero__data{
        text-align: center;
    }
    .hero__img{
        width: 100vw;

    }

    .gameSection{
        height: auto;
    }
    .gameSection>div>article{
        margin: 0rem;
    }
    .gameSection__title{
        font-size: 2.5rem;
        text-align: center;
        line-height: 1.1;
    }
    .gameSection__para{
        text-align: center;
        font-size: 1.1rem;
    }
    .gameSection__img{
        display: none;
    }
    .gameSection__video{
        width: 100%;
        margin: 1rem 0rem 0rem 0rem;
    }

    .axieSection{
        height: auto;
        padding-bottom: 2rem;
    }
    .axieSection__title{
        font-size: 2.5rem;
        text-align: center;
        line-height: 1.1;
        margin-top: 2rem;
    }
    .axieSection__para{
        text-align: center;
        font-size: 1.1rem;
    }
    .example__cont{
        margin: 1rem 0rem 1rem 0rem;
    }


    .serviceSection{
        height: auto;
    }
    .serviceSection__title{
        font-size: 2.5rem;
        margin: 0rem;
    }
    .serviceSection__para{
        text-align: center;
        font-size: 1.1rem;

    }
    .serviceSection__btn{
        margin: 0rem;
    }
    .footer{
        font-size: 0.7rem;
        overflow: hidden;
    }
    .separator{
        margin-top: 0;
    }
    .stat{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .stat__items{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .energy{
        margin: 0;
    }
    .exp{
        margin: 1rem 0 0 0;
    }
    .bans__title{
        top: 0;
    }
    .ban__item{
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (min-width: 700px) and (max-width: 800px) {
    /*.hero__container{
        height: 70rem;
    }*/
    .hero__img{
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .nav__logo, .contact__btn{
        display: block;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1500px) {
    .serviceSection__title{
        font-size: 2rem;
    }
    .serviceSection__para{
        font-size: 1.2rem;
    }
    .serviceSection__btn{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 800px) {
    
    .axieSection__examples{
        display: none;
    }
    .axieSection__carousel{
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .example__cont{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .example__para{
        width: 100%;
    }
    .serviceSection{
        display: none;
    }
    .serviceSection__carousel{
        background-color: #006CFF;
        width: 100%;
    }
    .serviceSection__pvp, .serviceSection__econ, .serviceSection__becas{
        width: 75vw;
        margin: 3rem auto 3rem auto;
    }
    .serviceSection__econ>.serviceSection__para, .serviceSection__becas>.serviceSection__para{
        font-size: 1rem;
    }
    .serviceSection__btn{
        font-size: 1rem;
    }
    .serviceSection__title{
        font-size: 2rem;
    }

    .adventure__img{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .placeholder__img{
        width: 100%;
    }
}

@media screen and (min-width: 801px) {
    .axieSection__carousel{
        display: none;
    }
    /*
    .axieSection__examples{
        display: flex;
        align-items: center;
        justify-content: center;
    }*/
    .serviceSection__carousel{
        display: none;
    }
    .serviceSection{
        height: 50vh;
        background-color: #006CFF;
    }
}

@media screen and (max-height: 650px) {
    .serviceSection__title{
        font-size: 2rem;
    }
    .serviceSection__btn{
        font-size: 0.8rem;
    }
    .serviceSection__para{
        font-size: 0.8rem;
    }
    .serviceSection__pvp, .serviceSection__econ, .serviceSection__becas{
        height: 75vw;
    }
    
}

@media screen and (max-height: 500px){
    .hero__img{
        display: none;
    }
    .hero__title{
        margin-top: 3rem;
    }

}

@media screen and (min-width: 992px) {
    .navbar-brand{
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .logo__collapsed{
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .separator{
        border: none;
        align-items: center;
        margin-bottom: 0;
    }
    .separator>h2{
        text-align: center;
        position: relative;
        left: auto;
        font-size: 2rem;
    }
    .statistics__para{
        margin-top: 0;
    }
}

@media screen and (max-width: 700px) {
    .hero__container{
        padding-top: 0;
    }
    .hero__img{
        width: 250px;
    }
}

@media screen and (max-width: 400px) {
    .axieSection__carousel{
        width: 300px;
    }
    .statistics__title{
        padding: 0;
        letter-spacing: .2rem;
    }
}