.separator{
    border-bottom: 4px solid #081B3E;
    position: relative;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.statistics{
    &__content{
        text-align: center;
        margin-top: 2rem;
        .row{
            margin: 3rem 0rem 0rem 0rem;
        }
    }
    &__title{
        font-size: 2.5rem;
        font-weight: 700;
        color: #081B3E;
        background-color: #fff;
        text-align: start;
        position: absolute;
        top: -1.25rem;
        left: 5rem;
        letter-spacing: .5rem;
        line-height: 1;
        padding-left: 1rem;
        padding-right: 0.5rem;
    }
    &__para{
        text-align: center;
        font-size: 1.3125rem;
    }
}
.stat{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2.5rem 0;
    &__subtitle{
        display: flex;
        justify-content: center;
        align-content: center;
        padding-top: 0.5rem;
        color: #fff;
    }
    &__para{
        background-color: #fff;
        border-radius: 10px;
        text-align: center;
        font-size: 1.3125rem;
        padding: 1.2rem 0.5rem 0.5rem 0.5rem;
        height: 9.1533rem;
    }
    &__items{
        background-color: #081B3E;
        border: 3px solid #081B3E;
        border-radius: 10px;
        padding: 0;
        position: relative;
        width: 250px;
    }
    .health__icon{
        padding: 0.5rem;
        color: #3AC279;
    }
    .speed__icon{
        padding: 0.5rem;
        color: #F7AC0A;
    
    }
    .skill__icon{
        padding: 0.5rem;
        color: #6A3AC2;
    
    }
    .morale__icon{
        padding: 0.5rem;
        color: #C23A3A;
    
    }
}
.tiebreak, .card{
    &__title{
        text-align: center;
        font-size: 1.8rem;
        font-weight: 700;
        color: #081B3E;
    }
    &__para{
        text-align: center;
        font-size: 1.3125rem;
    }
}
.gral{
    &__img{
        width: 80%;
        border-radius: 3%;
        &-para{
            margin-top: auto;
            margin-bottom: auto;
            font-size: 1.125rem;
        }
    }
}