.comp{
    position: relative;
    overflow: hidden;
    margin-top: 2rem;
    &__title{
        @extend .title;
    }
    &__subtitle{
        @extend .subtitle;
        margin-top: 2rem;
    }
    &__para{
        @include fontConfig(1.3125rem, center, 400);
        color: #fff;
        background-color: #081B3E;
        padding: 1rem;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        &-f{
            border-top-right-radius: 10px;
            border-top-left-radius: 0px;
            display: block;
        }
        &-m{
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            display: none;
        }
        &-b{
            border-top-right-radius: 0px;
            border-top-left-radius: 10px;
            display: none;
        }
    }
    &__img{
        z-index: 10;
        margin: 0;
        padding: 0;
    }
    &__item{
        padding: 0;
    }
    &__input{
        display: none;
    }
    &__label{
        width: 33%;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }
    &__back{
        z-index: -1;
        position: absolute;
        width: 33%;
        height: 100%;
        left: 0;
        background-color: #081B3E;
        border-radius: 10px;
        transition: 0.5s all;
        &::before{
            visibility: none;
            content: "";
            width: 50px;
            height: 50px;
            background-color: #fff;
            box-shadow: 1rem 1rem #081B3E ;
            position: absolute;
            left: -50px;
            top: 176px;
            border-radius: 10px;
        }
        &::after{
            content: "";
            width: 50px;
            height: 50px;
            background-color: #fff;
            box-shadow: -0.5rem 0.5rem 0 #081B3E ;
            position: absolute;
            right: -50px;
            top: 176px;
            border-radius: 10px;
        }
    }
}
@each $comp in $comps{
    .comp#{$comp}-f{
        &:checked ~ .comp__para-m, &:checked ~ .comp__para-f{
            display: none;
        }
        &:checked ~ .comp__para-f{
            display: block;
        }
        &:checked ~ .comp__back{
            left: 0%;
        }
    }
    .comp#{$comp}-m{
        &:checked ~ .comp__para-f, &:checked ~ .comp__para-b{
            display: none;
        }
        &:checked ~ .comp__para-m{
            display: block;
        }
        &:checked ~ .comp__back{
            left: 33%;
        }
    }
    .comp#{$comp}-b{
        &:checked ~ .comp__para-f, &:checked ~ .comp__para-m{
            display: none;
        }
        &:checked ~ .comp__para-b{
            display: block;
        }
        &:checked ~ .comp__back{
            left: 67.1%;
        }
    }
}