/*---- VARIABLES Y CLASES REUTILIZABLES PVP.HTML*/
@mixin fontConfig($size, $align, $weight){
    font-size: $size;
    text-align: $align;
    font-weight: $weight;
}
$comps: 1,2;
$axieType-color: ("bug": #FE5549, "reptile": #A554D3, "plant": #58BF2D, "bird": #FE8CBB);
.title{
    @include fontConfig(2.5rem, start, 700);
    color: #081B3E;
    background-color: #fff;
    position: absolute;
    top: -1.25rem;
    left: 5rem;
    letter-spacing: .5rem;
    line-height: 1;
    padding-left: 1rem;
    padding-right: 0.5rem;
}
.para-centered{
    @include fontConfig(1.3125rem, center, 400);
}
.subtitle{
    @include fontConfig(1.8rem, center, 700);
    color: #081B3E;
}
/*---- VARIABLES Y CLASES REUTILIZABLES PVP.HTML*/
.combat{
    &__title{
        @extend .title;
    }
    &__para{
        @extend .para-centered;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    &__img{
        width: 80%;
        border-radius: 3%;
    }
    &__row{
        margin-bottom: 2rem;
    }
}
.rewards{
    &__title{
        @extend .subtitle;
    }
    &__para{
        @extend .para-centered;
    }
}
.table{
    &__arena{
        text-align: center;
    }
    &__cont{
        position: relative;
        transition: all 1s;
        &:hover{
            .table__slp{
                opacity: 1;
            }
        }
    }
    &__cup{
        padding: 1rem;
        color: #fff;
        background-color: #081B3E;
        border-radius: 10px;
        width: 100%;
        opacity: 1;
    }
    &__slp{
        position: absolute;
        top: 0;
        z-index: 10;
        padding: 1rem 1rem 0.5rem 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        background-color: #081B3E;
        border-radius: 10px;
        width: 100%;
        opacity: 0;
        transition: all .1s;
    }   
}
.slp__icon{
    width: 25px;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}