@media screen and (max-width: 800px) {
    .nav{
        &__li{
            a{
                font-size: 0.9rem;
                margin: 0rem 0rem 0rem 0.2rem;
            }
        }
    }
    .example{
        &__img{
            width: 200px;
        }
        &__cont{
            margin: 1rem 0rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__para{
            width: 100%;
        }
    }
    .nav{
        &__container{
            display: none;
        }
    }
    .contact__btn{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .footer{
        &__axie, &__web{
            flex-direction: column;
        }
    }
    .hero{
        &__container{
            flex-direction: column;
            height: 90vh; 
        }
        &__title{
            text-align: center;
            font-size: 2.5rem;
            margin-top: 2rem;
        }
        &__para{
            text-align: center;
            align-self: center;
            font-size: 1.1rem;
            margin: 1.5rem 0rem 0rem 0rem;
        }
        &__data{
            text-align: center;
        }
        &__img{
            width: 250px;
            margin: auto;
            padding-top: 3rem;
        }
    }
    .gameSection{
        height: auto;
        div{
            article{
                margin: 0;
            }
        }
        &__title{
            font-size: 2.5rem;
            text-align: center;
            line-height: 1.1;
        }
        &__para{
            width: auto;
            margin: 1rem 1rem 0rem 1rem;
            text-align: center;
            font-size: 1.1rem;
        }
        &__img{
            display: none;
        }
        &__video{
            width: 100%;
            margin: 1rem 0rem 0rem 0rem;
        }
    }
    .axieSection{
        height: auto;
        padding-bottom: 2rem;
        &__title{
            font-size: 2.5rem;
            text-align: center;
            line-height: 1.1;
            margin-top: 2rem;
        }
        &__para{
            text-align: center;
            font-size: 1.1rem;
        }
        &__examples{
            display: none;
        }
        &__carousel{
            width: 300px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .serviceSection{
        display: none;
        height: auto;
        &__title{
            font-size: 2rem;
            margin: 0rem;
        }
        &__para{
            text-align: center;
            font-size: 1rem;
        }
        &__btn{
            margin: 0;
        }
        &__carousel{
            background-color: #006CFF;
            width: 100%;
        }
        &__pvp, &__econ, &__becas{
            width: 75vw;
            margin: 3rem auto 3rem auto;
        }
    }
    .footer{
        font-size: 0.7rem;
        overflow: hidden;
        &__axie, &__web{
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        &__axieLogo, &__webLogo{
            width: 80px;
        }
    }
    .separator{
        margin-top: 2rem;
    }
    .stat{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &__items{
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }
    .energy{
        margin: 0;
    }
    .exp{
        margin: 1rem 0 0 0;
    }
    .ban{
        &__row{
            padding: 0;
            margin: 0;
        }
        &__item{
            margin-left: 0;
            margin-right: 0;
        }
    }
    .adventure__img{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .gral__img-para{
        margin-bottom: 2rem;
    }
    .combat{
        &__row{
            flex-direction: column;
        }
        &__img{
            width: 100%;
        }
    }
    .rewards{
        flex-direction: column;
        margin-bottom: 3rem;
        &__para{
            margin-bottom: 1rem;
        }
    }
    .type{
        margin-top: 0;
    }
    .types{
        &__img-triangle{
            width: 100%;
        }
    }
    .morale{
        margin: 0;
        &__cont{
            width: 100%;
            margin: 0;
            margin-top: 1rem;
        }
    }
    .buff{
        margin: 0;
        margin-bottom: 3rem;
        &__row{
            margin: 0.5rem 0;
        }
    }
    .comp{
        margin-left: 0;
        margin-right: 0;
        &__title{
            font-size: 1.9rem;
            left: 1rem;
            top: -1rem;
        }
    }
    .trend{
        &1, &2, &3{
            margin-left: 0;
            margin-right: 0;
        }
    }
    .axieCard{
        height: 8.1rem;
        &__name{
            height: 4.8rem;
        }
    }
    .card{
        &__vel{
            width: 100%;
        }
        &__row{
            margin: 0;
            flex-direction: column;
            *{
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
    .scholar{
        &__row{
            margin: 0;
        }
        &__video{
            margin-top: 2rem;
            
            width: 100%;
        }
        &__title2{
            left: 1rem;
            font-size: 2.1rem;
        }
        &__accor-title{
            font-size: 2.1rem;
        }
        &__card{
            &-row{
                margin-left: 0;
                margin-right: 0;
            }
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
        
    }
    .breed{
        &__video{
            width: 100%;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }
    .coins{
        &__cont{
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
        &__row{
            margin: 0;
        }
    }
    .tree{
        &__video{
            width: 100%;
            margin-bottom: 1rem;
        }
    }
}
@media screen and (min-width: 700px) and (max-width: 800px) {
    .hero__img{
        width: 450px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        padding-top: 5rem;
    }
    .nav__logo, .contact__btn{
        display: block;
    }
    .coins{
        &__row{
            margin-top: 0;
        }
    }
    .risk{
        &__title{
            font-size: 1.7rem;
            left: 1rem;
            top: -0.8rem;
        }
    }
    .stake{
        margin: 0;
        height: 75vh;
        &__img{
            width: 100%;
        }
        &__btn{
            margin-left: auto;
            margin-right: auto;
            margin-top: 2rem;
        }
    }
}
@media screen and (min-width: 801px) {
    .axieSection{
        &__carousel{
            display: none;
        }
    }
    .serviceSection{
        height: 63vh;
        background-color: #006CFF;
        &__carousel{
            display: none;
        }
    }
}
@media screen and (min-width: 1000px) and (max-width: 1400px) {
    .gameSection{
        height: 75vh;
        &__title{
            margin-top: 0;
        }
        &__title{
            font-size: 2.5rem;
        }
        &__video{
            width: 450px;
        }
    }
    .axieSection{
        height: 115vh;
    }
    .example{
        &__cont, &__img{
            width: 20vw;
        }
    }
    .serviceSection{
        height: 78vh;
        &__title{
            font-size: 2rem;
        }
        &__para{
            font-size: 1.2rem;
        }
        &__btn{
            font-size: 1.5rem;
        }
        &__pvp,&__econ, &__becas{
            height: 320px;
        } 
    }
    .stat{
        &__items{
            width: 210px;
        }
        &__para{
            padding: 0.5rem;
        }
    }
    .ban{
        &__item{
            margin-left: 0;
            margin-right: 0;
        }
    }
    .comp{
        &__title{
            font-size: 2rem;
        }
    }
    .axieCard{
        &__name{
            height: 4.8rem;
        }
    }
    .tren1__para, .trend2__para, .trend3__para{
        font-size: 1.23rem;
    }
    .card__vel{
        .axieCard__title{
            font-size: 1.25rem;
        }
    }
    .scholar{
        &__ul{
            height: 411px;
        }
    }
    .breed{
        &__video{
            width: 450px;
        }
    }
    .risk{
        &__title{
            font-size: 2rem;
        }
    }
    .tree{
        &__row{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 2rem;
        }
    }
    .stake{
        height: 120vh;
    }
    .axs__para, .slp__para{
        height: 205px;
    }
}
@media screen and (min-width: 992px) {
    .navbar{
        &-brand{
            display: none;
        }
    }
}
@media screen and (max-width: 992px) {
    .logo{
        &__collapsed{
            display: none;
        }
    }
}
@media screen and (max-width: 750px) {
    .separator{
        border: none;
        align-items: center;
        margin-bottom: 0;
        position: relative;
        h2{
            position: relative;
            width: 100%;
            text-align: center;
            display: inline-block;
            top: 0;
            left: 0;
            font-size: 2rem;
        }
        .comp__title{
            font-size: 1.5rem;
        }
    }
    .statistics{
        &__title{
            margin-bottom: 1rem;
        }
        &__para{
            margin-top: 0;
        }
    }
    .tiebreak, .card{
        &__title{
            font-size: 1.5rem;
        }
    }
    .bans__title{
        margin-top: 1rem;
        margin-bottom: 0;
    }
    .comp{
        &__img{
            width: 100%;
        }
    }
    .trend1{
        margin-top: 0;
    }
    .scholar{
        &__accor-title{
            font-size: 1.8rem;
            letter-spacing: 0;
        }
        &__img{
            width: 100%;
        }
        &__para{
            text-align: center;
        }
    }
}
@media screen and (max-width: 700px) {
    .hero{
        &__container{
            padding-top: 0;
        }
    }
    .risk{
        &__title{
            margin-bottom: 2rem;
        }
        &__subtitle{
            text-align: center;
        }
        &__para{
            text-align: center;
        }
    }
    .tree{
        &__title{
            position: relative;
            text-align: center;
            left: 0;
            top: 0;
            background-color: transparent;
        }
        &__para{
            text-align: center;
        }
    }
    .stake{
        height: 90vh;
        &__para{
            font-size: 1rem;
            
        }
        &__img{
            display: none;
            &-axs{
                display: none;
            }
        }
        &__btn{
            margin-left: auto;
            margin-right: auto;
            margin-top: 1rem;
        }
    }
}
@media screen and (max-width: 400px) {
    .axieSection{
        &__carousel{
            width: 300px;
        }
    }
    .statistics__title{
        padding: 0;
        letter-spacing: .2rem;
    }
    .stake{
        height: 100vh;
    }
    .serviceSection{
        &__title{
            font-size: 2rem;
        }
        &__btn, &__para{
            font-size: 0.8rem;
        }
        &__pvp, &__econ, &__becas{
            height: 75vw;
        }
    }
}
@media screen and (max-width: 350px) {
    .stake{
        height: 150vh;
    }
    .separator{
        .comp__title{
            font-size: 1.2rem;
        }
    }
    .hero{
        &__title{
            margin-top: 3rem;
        }
    }
}
@media screen and (min-width: 1401px) {
    .serviceSection{
        height: auto;
    }
}
@media screen and (max-height: 481px) {
    .hero{
        &__img{
            display: none;
        }
    }
}